<div id="singlePost">
	<h1>Post number <%= post["id"] %></h1>

	<p>
		<b>Title:</b>
		<br/>
		<%= post["title"] %>
	</p>

	<p>
		<b>Body:</b>
		<br/>
		<%= post["content"] %>
	</p>
	<p>
		<b>Create Date:</b>
		<br/>
		<%= post["createDate"] %>
	</p>
	<p>
		<b>Author Mail:</b>
		<br/>
		<%= post["authormail"] %>
	</p>

</div>
